.ride-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px; /* Adjust the margin as needed */
  max-width: calc(100vw - 20px);
}

.ride-container {
  width: calc(50% - 20px); /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
  margin-right: 20px; /* Add margin to create space between containers */
  padding: 10px;
  background-color: #fffefe;
  border-radius: 10px;
  box-shadow: 0px 4px 8px #f2e8e0;
}
/* RideInfo.css */

.ride-container-wrapper {
  min-height: 100vh;
}

.card-raide {
  height: fit-content;
  width: fit-content;
  margin: 30px 0px;
}

.card-raide .overlap-group-wrapper {
  position: relative;
  left: 0px;
}

.rides-cont {
  width: fit-content;
  margin: 100px auto 0px auto;
}

.rides-cont .create-ride-btn {
  display: flex;
  font-size: 20px;
  padding: 15px 75px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--foundation-green-normal, #5d9b96);
  text-decoration: none;
  font-family: now;
  cursor: pointer;
  color: var(--foundation-orange-light, #fdf3eb);
}
